.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(72, 56, 61, 0.5);
    padding: 40px;
    z-index: 3;
    transition: opacity 0.1s, visibility 0.1s;

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

